tmp/
notebooks/
.vscode/
__pycache__/
.ipynb_checkpoints/
scripts/run_*.sh
*frame2state*
cartpole-swingup-04-05-im84-b128-s23-pixel/
cartpole-swingup-04-06-im84-b128-s23-pixel/
walker-walk-04-06-im84-b128-s23-pixel/
single_aug_040520.npy
*.npy
*.npz
*.ipynb
.idea/
logs/
ablation_study/

logs_dmc/

scripts_ball_in_cup/

scripts_cartpole/

scripts_cheetah/

scripts_demo_collecting/

scripts_finger/

scripts_hopper/

scripts_multi_tasks/

scripts_pendulum/

scripts_reacher/

scripts_walker/

speed_results/
figures/
*.sh

tester/